@custom-media --large (min-width: 1580px);
@custom-media --xlarge (min-width: 1900px);
@custom-media --ltab-portrait (min-width: 768px) and (max-width: 1024px);
@custom-media --ltab-landscape (min-width: 768px) and (max-width: 1024px) and (orientation: landscape);
@custom-media --stab-portrait (max-width: 767px);
@custom-media --mobile (max-width: 480px);

:root {
    --purple: #6969ED;
    --cyan-1: #40B4DD;
    --cyan-2: #16F2EC;
    --blue: #2D2B65;
    --body-padding: 0 6vw;
    --section-padding: 8vh 6vw;
}

@keyframes float {
    0% {transform: translateY(0);}
    25% {transform: translateY(5px);}
    50% {transform: translateY(0);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
} 

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #D0D0F4;
    opacity: 0.3;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    outline: 2px solid slategrey;
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100%;
}

::selection {
    background: var(--purple);
    color: #fff;
}

.pd-btm-2 {
    padding-bottom: 2vh;
}

.pd-btm-5 {
    padding-bottom: 5vh;
}

.full-height {
    min-height: 100vh;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 2vh 2vw;
    border-radius: 15px;
    border: solid 1px #fff;
    transition: border-radius 0.5s;
}

.button:hover {
    border-radius: 0;
}

/* header + hero section */
header {
    padding: 6vh 6vw;
}

.logo {
    width: 140px;
}

header nav a {
    margin-left: 2vw;
    padding-bottom: 7px;
    display: inline-block;
    position: relative;
}

header nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--cyan-2);
    width: 0%;
    transition: width 0.7s;
}

header nav a:hover:after {
    width: 100%;
}

.mobile-nav, .mobile-menu {
    display: none;
}

.hero {
    min-height: 82vh;
    padding: var(--body-padding);
    grid-template: 40vh 1fr 1fr / 24vw 1fr;
    grid-gap: 0 5vh;
}

.hero > * { 
    align-self: center;
}

.hero-grid-1 {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
}

.hero-grid-1 img {
    width: 100%;
}

.hero-grid-2 {
    grid-row: 1;
    grid-column: 2;
}

.hero-grid-3 {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.hero-grid-4 {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
}

.hero-grid-4 img {
    width: 4vw;
    animation: float 2s linear infinite;
}

/* schedule section */
.schedule {
    padding: var(--section-padding);
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--purple);
}

.schedule .button {
    border: solid 1px var(--cyan-2);
}

.accordion {
    width: 100%;
    padding: 2vh 2vw;
    border: solid 1px var(--cyan-2);
}

.acc-content img {
    width: 30px;
}

.panel {
    padding-top: 5vh;
    display: none;
}

.panel-open {
    display: block;
}

.panel-menu {
    justify-content: space-around;
    align-items: center;
}

.panel-menu a:hover {
    text-decoration: underline;
}

/* speakers section */
.slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
}
  
.holder {
    position: relative;
    top: 0;
    left: 0;
    width: 200vw;
    transition: left 1s;
    will-change: left;
}
  
.slide {
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

.speakers {
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
}

.speaker img {
    width: 200px;
}

.speaker-title {
    color: var(--blue);
    text-transform: uppercase;
    padding-bottom: 1vh;
}

.speaker p {
    max-width: 18vw;
}

.prev, .next {
    width: 4vw;
    z-index: 1;
    position: absolute;
    top: 30%;
}

.prev {
    transform: rotate(90deg);
    left: 0;
}

.next {
    transform: rotate(-90deg);
    right: 1.3vw;
}

/* cta section */
.cta {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 2.5vw 5vh;
}

.cta-grid-1, .cta-grid-4 {
    background-color: var(--cyan-1);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5vw;
}

.cta-grid-2 {
    background-image: url(img/conf-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cta-grid-3 {
    background-image: url(img/conf-1.jpg);
    background-size: auto;
    background-position: bottom left;
    background-repeat: no-repeat;
}

/* sponsors section */
.sponsors {
    padding: var(--section-padding);
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.sponsors-container {
    grid-template: repeat(3, auto) / repeat(3, 1fr);
}

.sponsors-container > * { 
    align-self: center;
    justify-self: center;
}

.sponsors-container img {
    width: 150px;
}

/* footer */
footer {
    min-height: 30vh;
    padding: var(--body-padding);
    background-color: var(--purple);
}

.footer-2 a {
    display: block;
}

.social-icons img {
    width: 2vw;
    margin-right: 2vw;
    vertical-align: middle;
}

/* content page */
.content-1, .content-2 {
    width: 50%;
    padding: var(--section-padding);
}

.content-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100%;
    background-color: var(--purple);
}

.content-1 img {
    width: 10vw;
}

/* responsive styles */
@media (--large) {
    .hero-grid-2 h1 {
        max-width: 42vw;
    }

    .speaker img {
        width: 240px;
    }
}

@media (--xlarge) {
    .sponsors-container img {
        width: 180px;
    }
}

@media (max-width: 1024px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .menu-icon {
        position: relative;
        width: 4vw;
        z-index: 2;
        transition: all 1s;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--cyan-1);
        transform: translateX(100vw);
        transition: transform 1s;
    }

    .open-menu {
        transform: translateX(0vw);
    }
}

@media (--ltab-portrait), (--stab-portrait) {
    .button {
        padding: 1vh 2vw;
    }

    .hero {
        min-height: 85vh;
        grid-template: 1fr 1fr 1fr / auto;
        grid-gap: 0;
    }

    .hero-grid-1 {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
    }

    .hero-grid-2 {
        grid-row: 2;
        grid-column: 1;
    }

    .hero-grid-3 {
        grid-row: 3;
        grid-column: 1;
    }

    .hero-grid-4 {
        display: none;
    }

    .schedule-header {
        flex-direction: column;
    }

    .schedule-header h2 {
        padding-bottom: 2vh;
    }

    .speakers {
        min-height: 50vh;
    }

    .slide {
        justify-content: space-between;
    }

    .speaker {
        padding: 0 4vw;
    }

    .speaker img {
        width: auto;
    }

    .speaker p {
        max-width: none;
        font-size: 16px;
    }

    .prev, .next {
        width: 7vw;
    }

    .next {
        right: 0;
    }

    .cta {
        min-height: 80vh;
        grid-template: 1fr 1fr 1fr/1fr;
        grid-gap: 0;
    }

    .cta-grid-1, .cta-grid-4 {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 8vw;
    }

    .cta-grid-1 .pd-btm-5, .cta-grid-4 .pd-btm-5 {
        padding-bottom: 3vh;
    }

    .cta-grid-2 {
        display: none;
    }

    .cta-grid-3 {
        background-size: cover;
        background-position: center left;
    }

    .sponsors-container {
        grid-template: repeat(2,auto)/repeat(2,1fr);
    }

    .sponsors-container img:last-child {
        grid-column: span 2;
    }

    footer {
        min-height: 55vh;
        padding: var(--section-padding);
        flex-direction: column;
        text-align: center;
    }

    footer.flex-between {
        justify-content: space-around;
    }

    .footer-1 p.pd-btm-5,
    .footer-2 a.pd-btm-5 {
        padding-bottom: 2vh;
    }

    .social-icons img {
        width: 3vw;
    }

    .content-page {
        padding: var(--body-padding);
        flex-direction: column;
    }

    .content-1, .content-2 {
        width: 100%;
        padding: 0 0 2.5vh 0;
    }

    .content-1 {
        position: initial;
        height: auto;
        background-color: initial;
    }

    .content-1 img.pd-btm-5 {
        padding-bottom: 2vh;
    }

    .content-1 h2 {
        color: var(--purple);
    }
}

@media (--ltab-landscape) {
    .speakers {
        min-height: 70vh;
    }

    .cta-grid-1, .cta-grid-4 {
        padding: 4vh 10vw;
    }

    .cta-grid-3 {
        background-position: center left;
    }
}

@media (--stab-portrait) {
    .hero > * { 
        justify-self: center;
        text-align: center;
    }

    .speakers-container div:nth-child(2) {
        display: none;
    }

    .speaker p {
        max-width: none;
    }
}

@media (--mobile) {
    .button {
        padding: 1vh 3vw;
    }

    .pd-btm-5 {
        padding-bottom: 2.5vh;
    }

    .logo {
        width: 110px;
    }

    .menu-icon {
        width: 8vw;
    }

    .hero-grid-1 img {
        width: 40vw;
    }

    .speakers {
        min-height: 60vh;
    }

    .slide {
        align-items: flex-start;
    }

    .speaker p {
        font-size: 14px;
    }

    .next, .prev {
        width: 10vw;
    }

    .cta-grid-1, .cta-grid-4 {
        padding: 4vh 8vw;
    }

    .sponsors-container img {
        width: 80px;
    }

    footer {
        min-height: 60vh;
    }

    .footer-3 p {
        padding-bottom: 4vh;
    }

    .social-icons img {
        width: 6vw;
        margin-right: 4vw;
    }

    .content-1 {
        align-items: flex-start;
    }

    .content-1 img {
        display: none;
    }
}