@custom-media --large (min-width: 1580px);
@custom-media --xlarge (min-width: 1900px);
@custom-media --stab-portrait (max-width: 767px);
@custom-media --mobile (max-width: 480px);

@font-face {
    font-family: 'Klavika Medium';
    src: url(fonts/Klavika-Medium.woff), url(fonts/Klavika-Medium.otf);
 }

@font-face {
    font-family: 'Klavika Bold';
    src: url(fonts/Klavika-Bold.woff), url(fonts/Klavika-Bold.otf);
}

:root {
    --gen-lheight: 1.3;
    --head-lheight: 1.2;
    --small-spacing: 0.5px;
    --body-size: 18px;
    --h1-size: 68px;
    --h2-size: 48px;
    --h3-size: 38px;
}

@media (--large) {
    :root {
        --body-size: 20px;
        --h1-size: 70px;
        --h2-size: 50px;
        --h3-size: 40px;
    }
}

@media (--xlarge) {
    :root {
        --gen-lheight: 1.2;
        --body-size: 22px;
        --h1-size: 74px;
        --h2-size: 54px;
        --h3-size: 44px;
    }
}

@media (--stab-portrait) {
    :root {
        --body-size: 16px;
        --h1-size: 66px;
        --h2-size: 46px;
        --h3-size: 36px;
    }
}

@media (--mobile) {
    :root {
        --gen-lheight: 1.2;
        --head-lheight: 1;
        --body-size: 14px;
        --h1-size: 38px;
        --h2-size: 34px;
        --h3-size: 30px;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--body-size);
    line-height: var(--gen-lheight);
    letter-spacing: 0.2px;
    color: var(--purple);
}

a {
    color: var(--purple);
    letter-spacing: var(--small-spacing);
    text-decoration: none;
}

h1 {
    font-family: 'Klavika Bold';
    font-size: var(--h1-size);
    line-height: var(--head-lheight);
}

h2 {
    font-family: 'Klavika Bold';
    font-size: var(--h2-size);
}

h3, .mobile-menu {
    font-family: 'Klavika Medium';
    font-size: var(--h3-size);
}

/* class for h1, h2 and body text spans */
.bold {
    font-weight: bold;
}

.cyan-1 {
    color: var(--cyan-1);
}

.white {
    color: #fff;
}

@media (--mobile) {
    h2 {
        font-family: 'Klavika Medium';
    }
}